@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Kumbh+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E5AB;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.appContainer {
    position: absolute;
    width: 375px;
    height: 812px;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.9);
}

.home {
    position: absolute;
    left: 2rem;
    top: 2rem;
    transform: scale(3);
}

.home:hover {
    cursor: pointer;
    opacity: 0.5;
}

.logo {
    position: absolute;
    top: 5rem;
    left: 8.5rem;
    display: flex;
    justify-content: center;
    height: 6rem;
}

.mainText {
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    color: #69235B;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Kumbh Sans', sans-serif;
}

.mainText span {
    text-decoration: underline;
    text-decoration-color: #FBBC04;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: -0.2rem;
    text-decoration-skip-ink: none;
}


.subText {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #69235B;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 4rem;
    line-height: 1.5rem;
}

.back {
    position: absolute;
    height: 1.5rem;
    top: 4rem;
    left: 1.5rem;
    cursor: pointer;
}

.back:hover {
    opacity: 0.5;
}

.email {
    margin-top: 1rem;
}

.email input {
    margin-top: 1.5rem;
    border: none;
    border-bottom: 1px solid #CDD1D0;
    width: 100%;
    text-decoration: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.emailTxt {
    color: #69235B;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.loginBtns {
    margin-top: 4.5rem;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.button button {
    background-color: #FFC746;
    border: none;
    color: #69235B;
    border-radius: 0.8rem;
    height: 3.5rem;
    width: 21rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.button button:hover {
    background-color: #FFD746;
    cursor: pointer;
}

.finalText {
    color: #FFC746;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}
